.cabecera {
  background-color: gray;
  text-align: center;
  min-height: 100px;
}

.roles {
  background-color: darkgray;
  text-align: center;
  min-height: 800px;
}

.dashboard {
  background-color: yellowgreen;
  text-align: center;
  min-height: 800px;
}

